# Case Study: The Beazley Case

In [1]:
import sql

In [2]:
%load_ext sql
%sql sqlite:///tx_deathrow_small.db
%config SqlMagic.autocommit=False

**Please write your queries below in the empty boxes same as you write in a SQL Window**

Just append **%sql** before your query like this '%sql Select * from executions limit 5;'

In [4]:
%sql Select * from previous limit 2

 * sqlite:///tx_deathrow_small.db
(sqlite3.OperationalError) no such table: previous
[SQL: Select * from previous limit 2]
(Background on this error at: http://sqlalche.me/e/e3q8)

**About the Dataset and Schema**

In 1994, Napoleon Beazley shot 63-year-old businessman John Luttig in his garage while trying to steal his family’s car. Because he was just shy of 18 years old at the time of the murder, the Beazley case ignited a fierce debate over the death penalty for juvenile offenders. 3 years after Beazley was executed, the Supreme Court prohibited the execution of offenders under 18 at the time of their offense (Roper v Simmons, 2005).

The case was also notable because the victim was the father of a federal judge John Michael Luttig. During the appeals to the Supreme court, three of the nine justices recused themselves because of their personal ties to Judge Luttig, leaving only six to review the case.

Napoleon Beazley made an impassioned last statement arguing that an eye for an eye does not constitute justice. Our task is to retrieve his statement from the database.

The database has one table, executions. To begin with, we'll look at the table. It contains the following columns:

*	Execution
*	Date of Birth
*	Date of Offence
*	Highest Education Level
*	Last Name
*	First Name
*	TDCJ Number
*	Age at Execution
*	Date Received
*	Execution Date
*	Race
*	County
*	Eye Color
*	Weight
*	Height
*	Native County
*	Native State
*	Last Statement

## Recalling Filtering

The WHERE Block
The WHERE block allows us to filter the table for rows that meet certain conditions. Its format is WHERE <clause> and it always goes after the FROM block. Here, a clause refers to a Boolean statement that the computer can evaluate to be true or false like ex_number = 145. You can imagine that the computer will go through each row in the table checking if the clause is true, and if so, return the row

**Find the first and last names and ages (ex_age) of inmates 25 or younger at time of execution? How many are they?**

In [3]:
%sql SELECT first_name, last_name, ex_age FROM executions \
     WHERE ex_age <= 25;

 * sqlite:///tx_deathrow_small.db
Done.

[('Toronto', 'Patterson', 24),
 ('T.J.', 'Jones', 25),
 ('Napoleon', 'Beazley', 25),
 ('Richard', 'Andrade', 25),
 ('Jay', 'Pinkerton', 24),
 ('Jesse', 'De La Rosa', 24)]

In [4]:
%sql SELECT count(*) from executions\
     WHERE ex_age <= 25;

 * sqlite:///tx_deathrow_small.db
Done.

[(6,)]

**Find the result if some named like Raymond(First Name) Landry(Last Name) was executed? What was his age?**

In [5]:
%sql SELECT ex_age FROM executions \
     WHERE first_name = 'Raymond' AND last_name = 'Landry';

 * sqlite:///tx_deathrow_small.db
Done.

[]

**Find Napoleon Beazley's last statement. What did he say?**

In [6]:
%sql SELECT last_statement FROM executions \
     WHERE first_name = 'Napoleon' AND last_name = 'Beazley';

 * sqlite:///tx_deathrow_small.db
Done.

[('The act I committed to put me here was not just heinous, it was senseless. But the person that committed that act is no longer here - I am. I\'m not  ... (1831 characters truncated) ... o help them find out, but in the system telling them it won\'t matter anyway. No one wins tonight. No one gets closure. No one walks away victorious.',)]

## Possible Innocence

Opponents of the death penalty have argued that the risk of mistakenly executing an innocent person is too great a cost to bear. In this chapter, we attempt to approximate how many innocent people may have been executed.

**Aggregate Functions**

There are two numbers we need to calculate the proportion:

  Numerator: Number of executions with claims of innocence.

  Denominator: Number of executions in total.

Until now, each row in the output has come from a single row of input. However, here we have both the numerator and denominator requiring information from multiple rows of input. This tells us we need to use an aggregate function. To “aggregate” means to combine multiple elements into a whole. Similarly, aggregation functions take multiple rows of data and combine them into one number.

**Find how many inmates provided last statements? And How many declined? Hint: Null Last Statement**

In [7]:
%sql SELECT count(*) from executions \
     WHERE last_statement IS NOT NULL;

 * sqlite:///tx_deathrow_small.db
Done.

[(443,)]

In [8]:
%sql SELECT count(*) FROM executions \
     WHERE last_statement IS NULL;

 * sqlite:///tx_deathrow_small.db
Done.

[(110,)]

**Find the total number of executions where inmates were over the age of 50?**

In [9]:
%sql SELECT count(*) FROM executions \
     WHERE ex_age > 50;

 * sqlite:///tx_deathrow_small.db
Done.

[(68,)]

**Find the average length (based on character count) of last statements in the dataset?**

In [10]:
%sql SELECT avg(length(last_statement)) FROM executions;

 * sqlite:///tx_deathrow_small.db
Done.

[(537.492099322799,)]

**Find the proportion of inmates with claims of innocence in their last statements? Hint use Like %innocent%**

In [11]:
%sql SELECT count(*) FROM executions \
     WHERE last_statement = '%innocent%';

 * sqlite:///tx_deathrow_small.db
Done.

[(0,)]

**Long Tails**

Long tails refer to small numbers of samples which occur a large number of times. When we plot these out, they form a small sliver far to the right of the center of mass which looks like a tail. Long tails indicate the presence of outliers whose unusual behaviors may be of interest to us.

<img src="https://selectstarsql.com/imgs/execution_tail.png" width="500" height="500">

In context of Texas executions, the long tail refers to a small number of counties which have been known to conduct a large number of executions. Let’s find the percentage of executions from each county so that we can pick out the ones in the tail.Let’s find the percentage of executions from each county so that we can pick out the ones in the tail.

The Beazley chapter dealt with individual rows of data, but it’s clear that we need to do some aggregation to find county-level data. The Claims of Innocence chapter taught us aggregation, but those functions would end up aggregating the dataset into one row when we really want one row per county.

**The GROUP BY Block**

This is where the GROUP BY block comes in. It allows us to split up the dataset and apply aggregate functions within each group, resulting in one row per group. Its most basic form is GROUP BY <column>, <column>, ... and comes after the WHERE block.

**Find number of Executions by each county sorted by the highest? Name the count as “county_executions”**

In [13]:
%sql SELECT county,count(*) as county_executions FROM executions \
     GROUP BY county \
     ORDER BY county_executions DESC;

 * sqlite:///tx_deathrow_small.db
Done.

[('Harris', 128),
 ('Dallas', 58),
 ('Bexar', 46),
 ('Tarrant', 41),
 ('Nueces', 16),
 ('Montgomery', 15),
 ('Jefferson', 15),
 ('Lubbock', 13),
 ('Smith', 12),
 ('Brazos', 12),
 ('Potter', 10),
 ('Travis', 8),
 ('McLennan', 7),
 ('Collin', 7),
 ('Navarro', 6),
 ('Hidalgo', 6),
 ('Galveston', 6),
 ('Denton', 6),
 ('Cameron', 6),
 ('Taylor', 5),
 ('Gregg', 5),
 ('Fort Bend', 5),
 ('Bowie', 5),
 ('Hunt', 4),
 ('Brazoria', 4),
 ('Anderson', 4),
 ('Williamson', 3),
 ('Walker', 3),
 ('Tom Green', 3),
 ('Randall', 3),
 ('Liberty', 3),
 ('Kerr', 3),
 ('Grayson', 3),
 ('El Paso', 3),
 ('Cherokee', 3),
 ('Bell', 3),
 ('Wilbarger', 2),
 ('Wichita', 2),
 ('Victoria', 2),
 ('Refugio', 2),
 ('Red River', 2),
 ('Polk', 2),
 ('Pecos', 2),
 ('Parker', 2),
 ('Matagorda', 2),
 ('Leon', 2),
 ('Lamar', 2),
 ('Johnson', 2),
 ('Henderson', 2),
 ('Hale', 2),
 ('Ellis', 2),
 ('Comal', 2),
 ('Bee', 2),
 ('Wood', 1),
 ('Wharton', 1),
 ('Val Verde', 1),
 ('Upshur', 1),
 ('Trinity', 1),
 ('Shelby', 1),
 ('Scurry', 1),
 ('San Patricio', 1),
 ('San Jacinto', 1),
 ('Sabine', 1),
 ('Newton', 1),
 ('Nacogdoches', 1),
 ('Morris', 1),
 ('Milam', 1),
 ('Madison', 1),
 ('Llano', 1),
 ('Lee', 1),
 ('Kleberg', 1),
 ('Kendall', 1),
 ('Kaufman', 1),
 ('Jones', 1),
 ('Houston', 1),
 ('Hopkins', 1),
 ('Harrison', 1),
 ('Hardin', 1),
 ('Hamilton', 1),
 ('Gillespie', 1),
 ('Freestone', 1),
 ('Dawson', 1),
 ('Crockett', 1),
 ('Coryell', 1),
 ('Clay', 1),
 ('Chambers', 1),
 ('Caldwell', 1),
 ('Brown', 1),
 ('Bastrop', 1),
 ('Bailey', 1),
 ('Atascosa', 1),
 ('Aransas', 1)]

**Modify this query to find the number of executions from each county with and without a last statement? Hint: Rowwise Last Execution Statement**

In [14]:
%sql SELECT county,count(*) as county_executions FROM executions \
     WHERE last_statement IS NULL \
     GROUP BY county \
     ORDER BY county_executions DESC;

 * sqlite:///tx_deathrow_small.db
Done.

[('Harris', 33),
 ('Bexar', 9),
 ('Tarrant', 6),
 ('Dallas', 6),
 ('Nueces', 5),
 ('Jefferson', 4),
 ('Potter', 3),
 ('Montgomery', 3),
 ('Galveston', 3),
 ('Wilbarger', 2),
 ('Travis', 2),
 ('Navarro', 2),
 ('Johnson', 2),
 ('Gregg', 2),
 ('Fort Bend', 2),
 ('Denton', 2),
 ('Brazos', 2),
 ('Wharton', 1),
 ('Walker', 1),
 ('Victoria', 1),
 ('Val Verde', 1),
 ('Upshur', 1),
 ('Taylor', 1),
 ('Shelby', 1),
 ('San Patricio', 1),
 ('Pecos', 1),
 ('McLennan', 1),
 ('Lubbock', 1),
 ('Liberty', 1),
 ('Lee', 1),
 ('Henderson', 1),
 ('Hardin', 1),
 ('Hamilton', 1),
 ('Gillespie', 1),
 ('El Paso', 1),
 ('Collin', 1),
 ('Chambers', 1),
 ('Brazoria', 1),
 ('Bell', 1)]

In [15]:
%sql SELECT county,count(*) as county_executions FROM executions \
     WHERE last_statement IS NOT null \
     GROUP BY county \
     ORDER BY county_executions DESC;

 * sqlite:///tx_deathrow_small.db
Done.

[('Harris', 95),
 ('Dallas', 52),
 ('Bexar', 37),
 ('Tarrant', 35),
 ('Smith', 12),
 ('Montgomery', 12),
 ('Lubbock', 12),
 ('Nueces', 11),
 ('Jefferson', 11),
 ('Brazos', 10),
 ('Potter', 7),
 ('Travis', 6),
 ('McLennan', 6),
 ('Hidalgo', 6),
 ('Collin', 6),
 ('Cameron', 6),
 ('Bowie', 5),
 ('Taylor', 4),
 ('Navarro', 4),
 ('Hunt', 4),
 ('Denton', 4),
 ('Anderson', 4),
 ('Williamson', 3),
 ('Tom Green', 3),
 ('Randall', 3),
 ('Kerr', 3),
 ('Gregg', 3),
 ('Grayson', 3),
 ('Galveston', 3),
 ('Fort Bend', 3),
 ('Cherokee', 3),
 ('Brazoria', 3),
 ('Wichita', 2),
 ('Walker', 2),
 ('Refugio', 2),
 ('Red River', 2),
 ('Polk', 2),
 ('Parker', 2),
 ('Matagorda', 2),
 ('Liberty', 2),
 ('Leon', 2),
 ('Lamar', 2),
 ('Hale', 2),
 ('Ellis', 2),
 ('El Paso', 2),
 ('Comal', 2),
 ('Bell', 2),
 ('Bee', 2),
 ('Wood', 1),
 ('Victoria', 1),
 ('Trinity', 1),
 ('Scurry', 1),
 ('San Jacinto', 1),
 ('Sabine', 1),
 ('Pecos', 1),
 ('Newton', 1),
 ('Nacogdoches', 1),
 ('Morris', 1),
 ('Milam', 1),
 ('Madison', 1),
 ('Llano', 1),
 ('Kleberg', 1),
 ('Kendall', 1),
 ('Kaufman', 1),
 ('Jones', 1),
 ('Houston', 1),
 ('Hopkins', 1),
 ('Henderson', 1),
 ('Harrison', 1),
 ('Freestone', 1),
 ('Dawson', 1),
 ('Crockett', 1),
 ('Coryell', 1),
 ('Clay', 1),
 ('Caldwell', 1),
 ('Brown', 1),
 ('Bastrop', 1),
 ('Bailey', 1),
 ('Atascosa', 1),
 ('Aransas', 1)]

**Perform Above Query with a CASE WHEN Solution in Columnar Approach**

In [16]:
%sql SELECT county, count(CASE WHEN last_statement is null THEN 'null' ELSE last_statement END) as county_executions FROM executions \
     GROUP BY county \
     ORDER BY county_executions DESC;

 * sqlite:///tx_deathrow_small.db
Done.

[('Harris', 128),
 ('Dallas', 58),
 ('Bexar', 46),
 ('Tarrant', 41),
 ('Nueces', 16),
 ('Montgomery', 15),
 ('Jefferson', 15),
 ('Lubbock', 13),
 ('Smith', 12),
 ('Brazos', 12),
 ('Potter', 10),
 ('Travis', 8),
 ('McLennan', 7),
 ('Collin', 7),
 ('Navarro', 6),
 ('Hidalgo', 6),
 ('Galveston', 6),
 ('Denton', 6),
 ('Cameron', 6),
 ('Taylor', 5),
 ('Gregg', 5),
 ('Fort Bend', 5),
 ('Bowie', 5),
 ('Hunt', 4),
 ('Brazoria', 4),
 ('Anderson', 4),
 ('Williamson', 3),
 ('Walker', 3),
 ('Tom Green', 3),
 ('Randall', 3),
 ('Liberty', 3),
 ('Kerr', 3),
 ('Grayson', 3),
 ('El Paso', 3),
 ('Cherokee', 3),
 ('Bell', 3),
 ('Wilbarger', 2),
 ('Wichita', 2),
 ('Victoria', 2),
 ('Refugio', 2),
 ('Red River', 2),
 ('Polk', 2),
 ('Pecos', 2),
 ('Parker', 2),
 ('Matagorda', 2),
 ('Leon', 2),
 ('Lamar', 2),
 ('Johnson', 2),
 ('Henderson', 2),
 ('Hale', 2),
 ('Ellis', 2),
 ('Comal', 2),
 ('Bee', 2),
 ('Wood', 1),
 ('Wharton', 1),
 ('Val Verde', 1),
 ('Upshur', 1),
 ('Trinity', 1),
 ('Shelby', 1),
 ('Scurry', 1),
 ('San Patricio', 1),
 ('San Jacinto', 1),
 ('Sabine', 1),
 ('Newton', 1),
 ('Nacogdoches', 1),
 ('Morris', 1),
 ('Milam', 1),
 ('Madison', 1),
 ('Llano', 1),
 ('Lee', 1),
 ('Kleberg', 1),
 ('Kendall', 1),
 ('Kaufman', 1),
 ('Jones', 1),
 ('Houston', 1),
 ('Hopkins', 1),
 ('Harrison', 1),
 ('Hardin', 1),
 ('Hamilton', 1),
 ('Gillespie', 1),
 ('Freestone', 1),
 ('Dawson', 1),
 ('Crockett', 1),
 ('Coryell', 1),
 ('Clay', 1),
 ('Chambers', 1),
 ('Caldwell', 1),
 ('Brown', 1),
 ('Bastrop', 1),
 ('Bailey', 1),
 ('Atascosa', 1),
 ('Aransas', 1)]

**Count the number of inmates aged 50 or older that were executed in each county? Use “where” method.**

In [23]:
%sql SELECT county, count(*) FROM executions \
     WHERE ex_age >= 50 \
     GROUP BY county \
     ORDER BY count(*) DESC;

 * sqlite:///tx_deathrow_small.db
Done.

[('Harris', 21),
 ('Dallas', 11),
 ('Montgomery', 5),
 ('Tarrant', 4),
 ('Lubbock', 3),
 ('Smith', 2),
 ('Lamar', 2),
 ('Jefferson', 2),
 ('Gregg', 2),
 ('Galveston', 2),
 ('Collin', 2),
 ('Bexar', 2),
 ('Wood', 1),
 ('Wichita', 1),
 ('Walker', 1),
 ('Upshur', 1),
 ('Travis', 1),
 ('San Jacinto', 1),
 ('Potter', 1),
 ('Pecos', 1),
 ('Newton', 1),
 ('Navarro', 1),
 ('McLennan', 1),
 ('Lee', 1),
 ('Johnson', 1),
 ('Houston', 1),
 ('Henderson', 1),
 ('Grayson', 1),
 ('Comal', 1),
 ('Cameron', 1),
 ('Caldwell', 1),
 ('Anderson', 1)]

**List the counties in which more than 2 inmates aged 50 or older have been executed. Hint Use Having**

In [5]:
%sql SELECT county, count(*) FROM executions \
     WHERE ex_age >= 50 \
     GROUP BY county \
     HAVING count(*) > 2;

 * sqlite:///tx_deathrow_small.db
Done.

[('Dallas', 11),
 ('Harris', 21),
 ('Lubbock', 3),
 ('Montgomery', 5),
 ('Tarrant', 4)]

**Find the first and last name of the the inmate with the longest last statement (by character count).**

In [29]:
%sql SELECT first_name, last_name, count(length(last_statement)) FROM executions;

 * sqlite:///tx_deathrow_small.db
Done.

[('Christopher Anthony', 'Young', 443)]

**Find the percentage of executions from each county.**

In [30]:
%sql SELECT county, (Count(county)* 100 / (SELECT Count(*) FROM executions)) as Percentage_execution \
From executions \
GROUP BY county \
ORDER BY Percentage_execution DESC;

 * sqlite:///tx_deathrow_small.db
Done.

[('Harris', 23),
 ('Dallas', 10),
 ('Bexar', 8),
 ('Tarrant', 7),
 ('Smith', 2),
 ('Nueces', 2),
 ('Montgomery', 2),
 ('Lubbock', 2),
 ('Jefferson', 2),
 ('Brazos', 2),
 ('Travis', 1),
 ('Potter', 1),
 ('Navarro', 1),
 ('McLennan', 1),
 ('Hidalgo', 1),
 ('Galveston', 1),
 ('Denton', 1),
 ('Collin', 1),
 ('Cameron', 1),
 ('Wood', 0),
 ('Williamson', 0),
 ('Wilbarger', 0),
 ('Wichita', 0),
 ('Wharton', 0),
 ('Walker', 0),
 ('Victoria', 0),
 ('Val Verde', 0),
 ('Upshur', 0),
 ('Trinity', 0),
 ('Tom Green', 0),
 ('Taylor', 0),
 ('Shelby', 0),
 ('Scurry', 0),
 ('San Patricio', 0),
 ('San Jacinto', 0),
 ('Sabine', 0),
 ('Refugio', 0),
 ('Red River', 0),
 ('Randall', 0),
 ('Polk', 0),
 ('Pecos', 0),
 ('Parker', 0),
 ('Newton', 0),
 ('Nacogdoches', 0),
 ('Morris', 0),
 ('Milam', 0),
 ('Matagorda', 0),
 ('Madison', 0),
 ('Llano', 0),
 ('Liberty', 0),
 ('Leon', 0),
 ('Lee', 0),
 ('Lamar', 0),
 ('Kleberg', 0),
 ('Kerr', 0),
 ('Kendall', 0),
 ('Kaufman', 0),
 ('Jones', 0),
 ('Johnson', 0),
 ('Hunt', 0),
 ('Houston', 0),
 ('Hopkins', 0),
 ('Henderson', 0),
 ('Harrison', 0),
 ('Hardin', 0),
 ('Hamilton', 0),
 ('Hale', 0),
 ('Gregg', 0),
 ('Grayson', 0),
 ('Gillespie', 0),
 ('Freestone', 0),
 ('Fort Bend', 0),
 ('Ellis', 0),
 ('El Paso', 0),
 ('Dawson', 0),
 ('Crockett', 0),
 ('Coryell', 0),
 ('Comal', 0),
 ('Clay', 0),
 ('Cherokee', 0),
 ('Chambers', 0),
 ('Caldwell', 0),
 ('Brown', 0),
 ('Brazoria', 0),
 ('Bowie', 0),
 ('Bell', 0),
 ('Bee', 0),
 ('Bastrop', 0),
 ('Bailey', 0),
 ('Atascosa', 0),
 ('Aransas', 0),
 ('Anderson', 0)]

**Harris County**

Is it surprising that Harris (home to the city of Houston), Dallas, Bexar and Tarrant account for about 50% of all executions in Texas